.tableCell {
  color: #0C1222;
  min-width: 100px;
}

.textOrange {
  color: #F8803D;
}

.truncate {
  white-space: nowrap;        /* Prevent text from wrapping to the next line */
  overflow: hidden;           /* Hide any text that overflows the container */
  text-overflow: ellipsis;    /* Display the ellipsis (...) for overflowed text */
  max-width: 100%;            /* Make sure it fits within its container's width */
}

.tableWrap {
  min-width: 100%;
  text-align: left;
  overflow-x: auto;

  td, th {
    min-width: 200px; /* TODO - delete if you don't need it  */
  }
}